/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

button{
  &.btn-default{
    min-width: 8em;
  }
}
