/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;600&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Mitr, "Helvetica Neue", sans-serif; }
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button{
  &.btn-default{
    min-width: 8em;
  }
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


}

.mat-checkbox-label{
  position: relative;
  left: 5px;
  text-align: justify;
}
@media only screen and (max-width: 600px) {


  .mat-checkbox-label {
    top: -1px;
    left: 5px;
    white-space:inherit;
    position: relative;
  }


}
